.product-card {
  height: 45vh;
  width: 50vh;
  border-style: solid;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

button {
  width: 100%;
}

.details {
  align-self: flex-start;
}

img {
    height: 30vh;
    width: auto;
}

.product-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 70vh;
}