* {
  margin: 0;
}

button {
  width: 100%;
  height: 2.5rem;
  border: none;
  background-color: rgb(64, 65, 124);
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

button:hover {
  background-color: rgb(77, 78, 146);
}

input {
  width: 2rem;
  font-size: 1rem;
  height: 1.5rem;
  text-align: center;
}

img {
  height: 30vh;
  width: auto;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 2rem 1rem;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  font-size: 1.5rem;
}

li {
  width: 234px;
}

li:hover {
  background-color: rgb(236, 236, 236);
}

a {
  text-decoration: none;
  color: white;
}

.cart-icon,
.main-menu > * {
  transition: transform 0.2s;
}

a:not(.no-transition):hover,
.menu-cart:hover {
  transform: scale(1.05);
}

.home {
  background: url("./images/home.jpg") center/cover;
  width: 100%;
  min-width: min-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#big {
  font-size: 10rem;
  padding-left: 9rem;
}

.home-body {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.best {
  font-size: 4rem;
  width: 15rem;
  color: white;
  font-style: italic;
}

.shop {
  border-radius: 50px;
  font-size: 2.5rem;
  width: 20rem;
  height: 4rem;
  margin: 4rem 10rem;
}

.shop > a {
  display: block;
}

.cart-icon {
  height: 2rem;
  filter: invert();
}

.cart-icon:hover,
li:hover,
button:hover {
  cursor: pointer;
}

:root {
  font-family: "Roboto", sans-serif;
  background-color: rgb(249, 249, 249);
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.visible {
  display: block;
}

.header-container {
  display: unset;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(64, 65, 124);
}

.header > * {
  margin: 20px 70px;
  padding: 0 10px;
}

.logo {
  font-size: 4rem;
  font-family: "Major Mono Display", monospace;
  color: rgb(222, 187, 50);
}

.main-menu {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-self: flex-end;
  gap: 6rem;
  z-index: 0;
}

.main-menu > * {
  padding: 0 10px;
}

.menu-cart {
  display: flex;
}

.quantity {
  color: rgb(222, 187, 50);
  font-size: 1.2rem;
  font-weight: 700;
}

.cart {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(150vw);
  transition: transform 0.3s;
  z-index: 2;
  width: 50vh;
  height: 100%;
  padding: 2rem;
  background-color: white;
}

.slide-in {
  transform: translate(0);
}

.cart-items-container {
  max-height: 60vh;
  margin: 2rem 0;
  overflow: auto;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: flex-start;
  padding: 2rem 0;
}

.cart-image {
  height: 7rem;
  width: 5.28rem;
}

.cart-item-details > * {
  margin: 0.2rem;
}

.trash {
  height: 1.9rem;
}

.trash:hover {
  filter: brightness(0.9) invert(.5) sepia(.8) hue-rotate(295deg) saturate(200%);;
  cursor: pointer;
}

.cart-item-controls {
  display: flex;
  gap: 2rem;
}

.total {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.close-button {
  width: 100%;
  height: 2.5rem;
  margin-top: 0.5rem;
  background-color: rgb(222, 187, 50);
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

.close-button:hover {
  background-color: rgb(235, 199, 56);
}

.product-card {
  height: 55vh;
  width: 50vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
}

.price {
  font-size: 1.3rem;
}

.loading {
  text-align: center;
  padding-top: 10rem;
}

.product-gallery {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 70vh;
  margin-left: 250px;
  padding: 2rem 0;
}

@media (orientation: portrait) and (max-width: 550px) {
  :root {
    font-size: 0.5rem;
  }
}
@media (orientation: portrait) {
  .shop {
    margin: 3rem;
  }

  .best {
    margin-left: 1rem;
  }

  .product-gallery {
    grid-template-columns: 1fr;
    margin: 0 2rem;
    width: auto;
  }

  .header > * {
    margin: 10px;
    font-size: 3rem;
  }

  .cart-icon {
    height: 3rem;
  }

  .header {
    flex-direction: column;
  }

  .main-menu {
    align-self: center;
  }

  .quantity {
    font-size: 2rem;
  }

  .header > .logo {
    font-size: 6rem;
    text-align: center;
  }

  .cart h1 {
    font-size: 4rem;
  }

  .cart > * {
    font-size: 2.5rem;
  }

  .cart-items-container {
    font-size: 4rem;
  }

  .cart-item {
    padding: 4rem;
    gap: 2rem;
  }

  .cart-item-details > * {
    font-size: 2rem;
  }

  .cart-image {
    height: 15rem;
    width: 12rem;
  }

  .products {
    display: flex;
    flex-direction: column;
  }

  ul {
    font-size: 2.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    position: static;
  }

  li {
    width: auto;
  }

  .product-card {
    width: 85vw;
    height: 50vh;
    margin-right: 0;
  }

  .product-card > * {
    font-size: 2rem;
  }

  img {
    height: 25vh;
  }

  button, .close-button {
    height: 4rem;
  }
}
